body > header, body > footer {
	display: none;
}

h1, h2, h3, h4, h5, h6, p {
	color: #000;
}

div#report {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	margin: 0;
	font-size: 12pt;
	font-family:  Georgia, ‘Times New Roman’, serif;
}

div#report > div.content table {
	width: 100%;
}

@page {
	margin: 0.7cm;
	size: portrait;
	size:8.5in 11in;
}

h1, h2, h3, h4, h5 {
	page-break-after: avoid;
}

img {
	max-width: 100% !important;
}

ul {
	page-break-inside: avoid;
}